.container{
    display:flex;
    justify-content: center;
    
}

.formbox{
    position: relative;
    border-style: solid;
    width: 400px;
    height: fit-content;
    top: 200px;
}

input{
    width: 100%;
}

span {
    display: none;
}

input:invalid ~ span{
    display: block;
}
